.main {
  background: url("../../assets/images/main/backgroundMain.png") top no-repeat;
  background-size: cover;
  padding: 23px 15px 15px 15px;
  flex: 1;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {

      &:nth-child(6) {
        p {
          margin-left: 50px;
        }
      }

      &:nth-child(7) {
        p {
          margin-left: 60px;
        }
      }

      &:nth-child(8) {
        img {
         width: 30px;
        }
      }
    }

    &_item {
      width: 100%;
      min-height: 70px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.73);
      margin-bottom: 10px;

      img {
        padding-left: 25px;
        position: absolute;
        width: 40px;
        height: 40px;
      }

      p {
        width: 100%;
        color: #FFF;
        font-size: 25px;
      }
    }
  }
}


//media

@media screen and (max-width: 380px) {
  .main__container_item p {
    font-size: 22px;
  }

  .main__container {
    a {
      &:nth-child(6) {
        p {
          margin-left: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .main__container_item p {
    font-size: 20px;
  }
}
