.basketButton {
  display: flex;
  justify-content: center;

  button {
    padding: 5px 19px;
    border-radius: 6.788px;
    background: #F2994A;
    border: none;
    box-shadow: 0 2.545454502105713px 8.484848976135254px 0 rgba(0, 0, 0, 0.15);
  }
  .basketButton__basket-icon{
    button {
      width: 56px;
      height: 28px;
      img{
        height: 100%;
      }
    }
  }
  .basketButton__basket-colored-icon{
    button {
      background: rgba(87, 171, 190, 0.50);
      width: 87px;
      height: 44px;
      img{
        height: 100%;
      }
    }
  }
  .basketButton__basket-text{
    button {
      width: auto;
      height: 28px;
      color: #FFF;
      font-family: Prosto One;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .basketButton__basket-iconText{
    button {
      display: flex;
      width: 70.181px;
      height: 20.25px;
      justify-content: center;
      font-size: 8px;
      color: white;
      padding: 0;
      align-items: center;
      margin-right: 6.5px;
      border-radius: 5.648px;
      background: var(--bd, #F69049);
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
    }
  }

  &__counter {
    display: flex;
    align-items: center;

    .basketBtnCombo {
      div {
        border: 2.5px solid  #F2994A;
        background: #F2994A;
        color: #fff;
      }

      p {
        color: #000;
      }
    }

    &_count {
      display: flex;
      align-items: center;

      p {
        font-size: 20px;
        min-width: 30px;
        text-align: center;
        color: #F2994A;
      }

      &_button {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2.5px solid #F2994A;
        border-radius: 50%;
        color: #F2994A;
        font-family: Prosto One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        cursor: pointer;
      }
    }
  }
}

// media

@media screen and (max-width: 350px) {
  .basketButton__basket-text button {
    font-size: 12px!important;
  }
  }
