.preorder {
  background: url("../../assets/images/preorder/backgroundDH1(2).png") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 566px;
  padding: 95px 15px 76px 15px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;

    p {
      color: #FFF;
      font-family: Prosto One;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      margin-bottom: -5px;
    }

    div {
      max-width: 329px;
      width: 100%;
      display: flex;
      gap: 10px;

      select {
        width: 100%;
        border: none;
        background: none;
        color: #FFF;
        font-family: Prosto One;
        font-size: 22px;
        font-weight: 400;
        height: 35px;
        outline: none;
        border-bottom: 1px white solid;

        option {
          color: #000;
          background: #F2994A;
        }
      }

      input {
        width: 100%;
        border: none;
        background: none;
        color: #FFF;
        font-family: Prosto One;
        font-size: 22px;
        font-weight: 400;
        height: 35px;
        outline: none;
        border-bottom: 1px white solid;

        &::placeholder {
          color: #fff;
        }
      }
    }

    button {
      display: inline-flex;
      padding: 10px 25px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: #F2994A;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.69);
      color: #FFF;
      font-family: Prosto One;
      border: none;
      font-size: 20px;
      font-weight: 400;
      margin-top: 23px;
      margin-left: -8px;
    }
  }
}

.error {
  font-size: 12px;
  color: #ff0000;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0!important;
  outline: none!important;

  &::placeholder {
    font-size: 22px!important;
  }
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  line-height: 1!important;
  margin-top: -10px;
  left: -17px!important;

}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none!important;
}

.css-1pfv9in-MuiFormControl-root-MuiTextField-root label  {
  margin-left: 0!important;
  font-family: Prosto One!important;
}


//media

@media screen and (max-width: 360px) {
  .preorder__container div input {
    max-width: 310px;
  }

  .preorder__container div select {
    max-width: 310px;
  }
}

@media screen and (max-width: 330px) {
  .preorder__container div input {
    max-width: 290px;
  }

  .preorder__container div select {
    max-width: 290px;
  }
}

@media screen and (max-width: 355px) {
  .preorder__container div input {
    font-size: 19px;
  }
  .preorder__container div select {
    font-size: 19px;
  }
}

