.card__container_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 19px;
  width: 100%;
  transition: all 0.1s ease-out;

  .card {
    width: 158px;
    height: 218.625px;
    border-radius: 79.255px 79.255px 7.53px 7.53px;
    background: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 7px;
    transition: 1.5s;

    .card__img {
      border-radius: 50%;
      width: 145px;
      height: 145px;
      transform: rotate(0deg);
      transition: 1.5s;
    }

    &__active {
      height: 300px;
      transition: 1.5s;

      &_img {
        transform: rotate(360deg)!important;
        transition: 1.5s;
      }
    }

    &__desc {
      max-width: 167px;
      width: 100%;

      &_name {
        font-family: Prosto One;
        text-align: center;
        font-size: 8px;
        font-weight: 700;
        margin-top: 10px;
        text-transform: uppercase;
      }

      &_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 0 6px;

        &_text {
          font-size: 12px;
          font-family: Prosto One;
        }
      }
    }

    &__desc_active {
      width: 100%;
      margin-left: 10px;

      &_title {
        width: 100%;
      }

      &_compound {
        font-size: 13px;
        margin-top: 10px;
        font-family: system-ui;
      }

      &_weight {
        font-size: 13px;
        font-family: system-ui;
      }

      &_price {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 25px 0 6px 0;
        height: 35px;
      }
    }
  }
}


//media
@media screen and (max-width: 360px) {
  .card__container_items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}


@media screen and (max-width: 350px) {
  .card__desc_active_title p {
    font-size: 17px;
  }

  .basketBtnActive button p {
    font-size: 13px !important;
  }

  .card__desc_active_price p {
    font-size: 17px;
  }
}
