.stock {
  background: url("../../assets/images/main/backgroundMain.png");
  background-size: cover;
  padding: 50px 15px 25px 15px;
  height: 896px;

  h3 {
    color: #000;
    font-size: 30px;
    text-align: center;
  }
}
